.w-100 { 
    width: 80% !important;
}

.active img {
    margin-left: 10%;
}

.carousel-title {
    font-size: 75px;
    position: absolute;
    top: 30%;
    left: 60%;
    text-align: left;
    padding-right: 50%;
}

.carousel-container {
    position: relative;
    display: inline-block;
    text-align: center;
}