.update-event-container{
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.grid img{
    width: 400px;
    height: auto;
    padding: 15px;
}

.title {
    text-align: center;
}

.date {
    text-align: center;
}