.titleResidents {
  margin-bottom: 5%;
}

.titleResidents h1 {
  font-size: 5rem;
  padding-bottom: 5%;
  letter-spacing: 5px;
}

.accordion-button {
  font-size: 2.5rem;
  padding-bottom: 1%;
  padding-top: 1%;
  color: #8342ea;
  border-bottom: 4px solid #8342ea;
  letter-spacing: 3px;
}

.accordion-button collapsed {
  text-decoration-line: underline;
}

.accordion-button:hover {
  color: white;
  filter: opacity(0.95) drop-shadow(0.5px 0.5px 0.3px #8342ea);
}

.accordion-body {
  font-family: LeagueSpartan-Regular;
  font-size: 1.5rem;
  padding-top: 2%;
  padding-bottom: 5%;
  justify-content: center;
  display: flex;
  align-items: center;
  align-items: flex-start;
  text-align: justify;
}

.artists-section {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 8%;
  position: relative;
  width: 100%;
}

.photo {
  height: 550px;
  width: 390px;
}

.photo:hover {
  filter: opacity(0.95) drop-shadow(4px 4px 2px #8342ea);
  transition: 0.6s;
}

.accordion-left {
  width: 40%;
}

.accordion-right {
  display: flex;
  justify-content: space-between;
  width: 60%;
  align-items: flex-end;
  justify-content: center;
  text-align: end;
}

.accordion-right ul {
  list-style: none;
  padding-right: 2%;
}

.accordion-right ul li a {
  text-decoration-line: none;
  color: #8342ea;
}

.text {
  padding-left: 2%;
}

.link {
  /* padding: 0.5em 0.8em;
  border: 2px solid #8342ea;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  transition: .3s;
  z-index: 1;
  text-decoration: none;
  color: #8342ea; */
  display: inline-block;
  text-align: center;
  font-weight: bold;
  padding: 0.7em 2.em;
  border: 3px solid #8342ea;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  color: #8342ea;
  text-decoration: none;
  transition: 0.3s ease all;
  z-index: -1;
}



/* .link::before {
  content: "";
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: #8342ea;
  transition: .5s ease;
  display: block;
  z-index: -1;
}

.link:hover::before {
  width: 105%;
}

.link:hover {
  color: #111
} */

@media (max-width: 767.98px) {
  .titleResidents h1 {
    font-size: 45px;
    padding-bottom: 2%;
    letter-spacing: 3px;
  }
  .accordion-button {
    font-size: 35px;
    padding-bottom: 1%;
    padding-top: 1%;
    color: #8342ea;
    letter-spacing: 1px;
  }
  .artists-section {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 15%;
    position: relative;
  }
  .accordionArtists {
    padding-top: 5%;
  }
  .artists-section div div {
    padding-top: 10px;
  }
    .accordion-body {
    font-family: LeagueSpartan-Regular;
    font-size: 15px;
    padding-right: 1%;
    display: flex;
    align-items: center;
    align-items: flex-start;
    text-align: justify;
    width: 100%;

  } 
  .photo {
    height: 70%;
    width: 70%;
  }
  .accordion-right {
    display: flex;
    width: 100%;
  }
  .accordion-left {
    width: 100%;
  }
  .accordion-right ul {
        margin-bottom: 0px;
  }
}



/* PANTALLA CELU */

@media (max-width: 575.98px) {
  .titleResidents h1 {
    font-size: 40px;
    padding-top: 20%;
  }
  .accordion-button {
    font-size: 30px;
    padding-bottom: 1%;
    padding-top: 1%;
    color: #8342ea;
    letter-spacing: 1px;
  }
  .artists-section {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    position: relative;
  }
  .accordionArtists {
    padding-top: 5%;
  }
  .artists-section div div {
    padding-top: 10px;
  }
  .accordion-body {
    font-family: LeagueSpartan-Regular;
    font-size: 15px;
    padding-right: 1%;
    display: flex;
    align-items: center;
    align-items: flex-start;
    text-align: justify;
    width: 100%;
    flex-direction: column;
  }
  .photo {
    height: 50%;
    width: 50%;
  }
  .accordion-right {
    display: flex;
    justify-content: center;
    width: 100%;
    justify-content: center;
    text-align: end;
  }
  .accordion-left {
    width: 100%;
  }
  .accordion-right ul {
        margin-bottom: 0px;
  }
  
}

/* 
#mostrar-bordes {
  width: 200px;
  height: 600px;
  border-style: solid;
  border-width: 30px;
  border-color: #8345ea;
  border-left: #8345ea;
  position: absolute
  /* border-top: #8345ea;
  border-bottom: #8345ea;   
} */