/* Estilos para motores Webkit y blink (Chrome, Safari, Opera... )*/

.biography::-webkit-scrollbar {
  -webkit-appearance: none;
}

.biography::-webkit-scrollbar:vertical {
  width:10px;
}

.biography::-webkit-scrollbar-button:increment,.biography::-webkit-scrollbar-button {
  display: none;
} 

.biography::-webkit-scrollbar:horizontal {
  height: 10px;
}

.biography::-webkit-scrollbar-thumb {
  background-color: #f1f2f3 ;
  border-radius: 20px;
  border: 2px solid #666565;
}

.biography::-webkit-scrollbar-track {
  border-radius: 10px;  
}

.artists-container {
  box-sizing: border-box;
  padding: 10% 6%;
  margin: 0 auto;
}

.artists-section-title {
  font-size: 5rem;
  padding-bottom: 5%;
  letter-spacing: 0.4rem;
}

.accordion-button {
  font-size: 3rem;
  color: #8342ea;
  border-bottom: 4px solid #8342ea;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  padding-bottom: 1%;
}

.accordion-button:hover {
  color: white;
}

.accordion-body {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: minmax(100px, 800px);
}

.accordion-right {
display: flex;
align-items: flex-end;
justify-content: center;
height: auto
}

.photo{
  width: 80%;
  height: 94%;
  margin: 0 auto;
  margin-right: 0;
}

.photo:hover {
  filter: opacity(0.95) drop-shadow(4px 4px 2px #8342ea);
  transition: 0.6s;
}

.accordion-left {
  font-family: LeagueSpartan-Regular;
  font-size: 100%;
  height: auto;
  display: grid;
  grid-template-rows: 10% 1fr 1fr;
}

/*Boton presskit*/
.link {
  padding: 0.5em 1.2em;
  border: 1px solid #8342ea;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  transition: .3s;
  z-index: 1;
  text-decoration: none;
  color: #8342ea;
  font-size: 1.4rem;
  width: 10rem;
  height: 3.1rem;
  margin: 3% 0;
}

.link:hover {
  color: white;
  cursor: pointer;
}

.link::before {
  content: "";
  width: 0;
  height: 105%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #8342ea;
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}

.link:hover::before {
  width: 105%;
}

.biography {
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 1.7em;
  line-height: 2.2rem;
  font-family: LeagueSpartan-Regular;
  width: 80%;
  overflow-y: auto;
}

.artists-tag-a{
  text-decoration: none;
  color: #8342ea;
}

.artists-tag-a:hover{
  color: white;
}

.social-media ul {
  list-style: none;
  float: right;
  font-size: 1.5rem;
  padding: 10%;
  margin: 0 10%;
  padding-bottom: 0;
}

.social-media {
  border-left: 44px solid rgba(131, 66, 234, 0.3);
}

.container-artists {
  display: flex;

}

/* MEDIA QUERIES */

@media only screen and (min-width: 1290px) and (max-width: 1420px) {
  .accordion-body {
    grid-template-rows: minmax(100px, 745px);
  }

  .biography {
    margin-top: 6%;
    margin-bottom: 6%;
    font-size: 1.6rem;
  }

  .social-media {
    border-left: 40px solid rgba(131, 66, 234, 0.3);
  }

  .artists-section-title {
    font-size: 4.8rem;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1290px) {
  .accordion-body {
    grid-template-rows: minmax(100px, 730px);
  }

  .biography {
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 1.5rem;
  }

  .social-media ul {
    font-size: 1.4rem;
  }

  .link {
    font-size: 1.3rem;
    width: 8.8rem;
    height: 2.9rem;
    margin: 4% 0;
  }

  .artists-section-title {
    font-size: 4.2rem;
  }

}

/* Notebook */
@media only screen and (min-width: 1100px) and (max-width: 1200px) {
  .accordion-body {
    grid-template-rows: minmax(100px, 700px);
  }

  .biography {
    font-size: 1.3rem;
    margin-top: 4%;
    margin-bottom: 4%;
  }

  .social-media ul {
    font-size: 1.3rem;
  }

  .link {
    font-size: 1.3rem;
    width: 8.7rem;
    height: 2.9rem;
    margin: 4% 0;
  }

  .artists-section-title {
    font-size: 3.8rem;
  }

  .accordion-button {
    font-size: 2.1rem;
  }

  .social-media {
    border-left: 35px solid rgba(131, 66, 234, 0.3);
  } 
}

@media only screen and (min-width: 1024px) and (max-width: 1100px){
  .accordion-body {
    grid-template-rows: minmax(100px, 610px);
  }

  .biography {
    font-size: 1.2rem;
    margin-top: 4%;
    margin-bottom: 3%;
    line-height: 2.0rem;
    width: 82%;
  }

  .social-media ul {
    font-size: 1.2rem;
  }

  .link {
    font-size: 1.2rem;
    width: 8.3rem;
    height: 2.8rem;
    margin: 4% 0;
  }

  .artists-section-title {
    font-size: 3.6rem;
  }

  .accordion-button {
    font-size: 2.0rem;
  }

  .social-media {
    border-left: 33px solid rgba(131, 66, 234, 0.3);
  } 
}



/* Tablet acostada */
@media only screen and (min-width: 930px) and (max-width: 1024px) {
  .accordion-body {
    grid-template-rows: minmax(100px, 560px);
  }

  .biography {
    font-size: 1.2rem;
    margin-top: 4%;
    margin-bottom: 3%;
    line-height: 1.8rem;
    width: 86%;
  }

  .social-media ul {
    font-size: 1.1rem;
  }

  .link {
    font-size: 1.1rem;
    width: 7.5rem;
    height: 2.4rem;
    margin: 4% 0;
  }

  .artists-section-title {
    font-size: 3.4rem;
  }

  .accordion-button {
    font-size: 1.7rem;
    border-bottom: 2px solid #8342ea;
  }

  .social-media {
    border-left: 25px solid rgba(131, 66, 234, 0.3);
    margin-bottom: 4.5%;
  }
  
}

@media only screen and (min-width: 840px) and (max-width: 930px) {
  .accordion-body {
    grid-template-rows: minmax(100px, 515px);
  }

  .biography {
    font-size: 1.1rem;
    margin-top: 5%;
    margin-bottom: 3.5%;
    line-height: 1.6rem;
    width: 87%;
  }

  .social-media ul {
    font-size: 1.0rem;
  margin: 0 7%;
  }

  .link {
    font-size: 1.0rem;
    width: 7.1rem;
    height: 2.3rem;
    margin: 4% 0;
  }

  .artists-section-title {
    font-size: 3.2rem;
    letter-spacing: 0.3rem;
  }

  .accordion-button {
    font-size: 1.6rem;
    border-bottom: 2px solid #8342ea;
  }

  .social-media {
    border-left: 24px solid rgba(131, 66, 234, 0.3);
    margin-bottom: 4.5%;
  }
  
}

@media only screen and (min-width: 768px) and (max-width: 840px) {
  .accordion-body {
    grid-template-rows: minmax(100px, 460px);
  }

  .biography {
    font-size: 1.0rem;
    margin-top: 5%;
    margin-bottom: 4.5%;
    line-height: 1.4rem;
    width: 87%;
  }

  .social-media ul {
    font-size: 0.9rem;
    padding: 9%;
    margin: 0 7%;
  }

  .link {
    font-size: 0.9rem;
    width: 6.5rem;
    height: 2.2rem;
    margin: 4% 0;
  }

  .artists-section-title {
    font-size: 3.0rem;
    letter-spacing: 0.3rem;
  }

  .accordion-button {
    font-size: 1.5rem;
    border-bottom: 2px solid #8342ea;
  }

  .social-media {
    border-left: 23px solid rgba(131, 66, 234, 0.3);
    margin-bottom: 4.5%;
  }
  .artists-soundcloud-container {
    display: none
  }
  
}

@media only screen and (min-width: 670px) and (max-width: 768px) {
  .accordion-body {
    grid-template-rows: minmax(100px, 360px);
  }

  .biography {
    font-size: 1.0rem;
    margin-top: 9.5%;
    margin-bottom: 3%;
    line-height: 1.3rem;
    width: 92%;
  }

  .social-media ul {
    font-size: 0.8rem;
    padding: 9%;
    margin: 0 7%;
  }

  .link {
    font-size: 0.8rem;
    width: 5.6rem;
    height: 2.0rem;
    margin: 4% 0;
  }

  .artists-section-title {
    font-size: 2.7rem;
    letter-spacing: 0.2rem;
  }

  .accordion-button {
    font-size: 1.4rem;
    border-bottom: 2px solid #8342ea;
  }

  .social-media {
    border-left: none;
    margin-bottom: 4.5%;
  }
  .artists-soundcloud-container {
    display: none
  }
}

@media only screen and (min-width: 560px) and (max-width: 670px) {
  .accordion-body {
    grid-template-rows: minmax(100px, 320px);
  }

  .biography {
    font-size: 1.0rem;
    margin-top: 10.5%;
    margin-bottom: 0%;
    line-height: 1.3rem;
    width: 92%;
  }

  .social-media ul {
    font-size: 0.8rem;
    padding: 10.5%;
    margin: 0 7%;
  }

  .link {
    font-size: 0.8rem;
    width: 5.2rem;
    height: 1.9rem;
    margin: 4% 0;
    padding: 0.4em 0.9em;
  }

  .artists-section-title {
    font-size: 2.4rem;
    letter-spacing: 0.2rem;
  }

  .accordion-button {
    font-size: 1.4rem;
    border-bottom: 2px solid #8342ea;
  }

  .social-media {
    border-left: none;
    margin-bottom: 4.5%;
  }
  .artists-soundcloud-container {
    display: none
  }
}

@media only screen and (min-width: 480px) and (max-width: 560px) {
  .accordion-body {
    grid-template-rows: minmax(100px, 260px);
  }

  .biography {
    font-size: 0.9rem;
    margin-top: 10%;
    margin-bottom: 1.5%;
    line-height: 1.2rem;
    width: 92%;
    height: 80%;
  }

  .social-media ul {
    font-size: 0.75rem;
    padding: 11%;
    margin: 0 7%;
  }

  .link {
    font-size: 0.8rem;
    width: 4.9rem;
    height: 1.7rem;
    margin: 4% 0;
    padding: 0.4em 0.9em;
  }

  .artists-section-title {
    font-size: 2.0rem;
    letter-spacing: 0.2rem;
  }

  .accordion-button {
    font-size: 1.2rem;
    border-bottom: 2px solid #8342ea;
  }

  .social-media {
    border-left: none;
    margin-bottom: 4.5%;
  }

  .photo {
    width: 90%;
    height: 92%;
    margin: 0 auto;
  }
  .artists-soundcloud-container {
    display: none
  }
}

/* Celu acostado */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .accordion-body {
    display: grid;
    grid-template-rows: minmax(100px, 275px);
    grid-template-columns: minmax(100px, 410px);
  }

  .accordion-left {
    display:block;
    grid-template-rows: none;
  }

  .accordion-right {
    display: grid;
    justify-content: flex-end;
    align-items: normal;
  }

  .photo{
    width: 80%;
    height: 80%;
  }

  .biography {
    font-size: 0.8rem;
    margin-top: 1.5%;
    margin-bottom: 0%;
    line-height: 1.2rem;
    width: 100%;
    height: 70%;
    overflow: scroll;
  }

  .social-media ul {
    font-size: 0.8rem;
    float: left;
    padding-top: 45%;
    padding-left: 6%;
    padding-bottom: 0%;
  }

  .link {
    font-size: 0.8rem;
    width: 4.9rem;
    height: 1.7rem;
    margin: 3% 0;
    padding: 0.4em 0.9em;
  }

  .artists-section-title {
    font-size: 1.9rem;
    letter-spacing: 0.2rem;
  }

  .accordion-button {
    font-size: 1.1rem;
    border-bottom: 2px solid #8342ea;
  }

  .social-media {
    border-left: none;
    margin-bottom: 0%;
  }
  .artists-soundcloud-container {
    display: none
  }
}