.podcast {
  margin-top: 10%;
  height: 720px;
  width: 100%;
  padding: 5% 5% 2% 5%;
  display: grid;
  grid-template-rows: 0.25fr 1fr;
}

.podcast-title-paragraph_container {
  display: grid;
  grid-template-columns: 0.15fr 0.25fr 1fr;
}

.podcast_title {
  font-size: 75px;
}

.podcast_title-container {
  display: flex;
  justify-content: flex-end;
}

.podcast-paragraph_container {
  display: flex;
  align-items: flex-end;
}

.podcast-container-paragraph-intro {
  display: flex;
  align-items: center;
  justify-content: center;
}



.podcast_paragraph {
  font-size: 1.6rem;
  margin-bottom: 0;
}

.podcast_line {
  opacity: 0.4;
  border-left: 45px solid #8342ea;
  border-bottom: 45px solid #8342ea;
}

.podcast-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  margin: 5%;
}

.podcast-container-intro {
  height: 550px;
  background-color: rgba(131, 66, 234, 0.3);
  padding: 10% 10%;
  padding-left: 30%;
  overflow: hidden;
  display: grid;
  grid-template-rows: 1fr 0.15fr;
  margin-left: -20%;
  margin-right: 10%;
  align-items: center;
  width: 100%;
  font-family: LeagueSpartan-Regular;
  font-size: 24px;

}

.podcast-container-intro_grid {
  display: grid;
  grid-template-columns: 0.25fr 1fr;
}

/* .podcast-container-intro p {
  height: auto;
  font-size: 25px;
  font-family: LeagueSpartan-Regular;
  word-wrap: break-word;
} */

.podcast-container-paragraph-intro p {
  width: 800px;
  height: 400px;
  text-align: justify;
}

.podcast-container_button {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  font-family: LeagueSpartan-Bold;
  padding-left: -30%;
}

.podcast-container-intro_button {
  text-transform: uppercase;
  width: 100px;
  border: none;
  background: rgb(255, 255, 255);
  padding: 10%;
  color: black;
  font-size: 20px;
  border-radius: 25px;
  transition: ease-out 0.3s;
  z-index: 1;
  position: relative;
}

.podcast-container-intro_button:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  content: "";
  background-color: blueviolet;
  color: white;
  opacity: 0;
  border-radius: 25px;
}

.podcast-container-intro_button:hover:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: -1;
}

.carousel-control-prev,
.carousel-control-next {
  width: 5%;
}

.carousel-item {
  padding-top: 5%;
  padding-bottom: 5%;
}

.podcast-container-flyer {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.podcast-container-flyer img {
  height: 130%;
  width: 80%;
  margin-left: 20%;
}

/* MEDIA QUERIES */

/* Gigante */
@media only screen and (min-width: 1920px) and (max-width: 2560px) {
  .podcast-container-intro {
    height: 135%;
  }
  .podcast-container-intro p {
    font-size: 20px;
  }
  .podcast-container-flyer img {
    height: 150%;
    width: 65%;
  }
}

/* Notebook */
@media only screen and (min-width: 1024px) and (max-width: 1200px) {
  .podcast-container-intro {
    height: 80%;
  }
  .podcast-container-intro p {
    font-size: 20px;
  }
  .podcast-container-flyer img {
    height: 90%;
    width: 100%;
  }
  .podcast_paragraph {
    font-size: 1.4rem;
  }
}

/* Tablet acostada */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .podcast-container-intro {
    height: 70%;

  }
  .podcast-container-intro p {
    font-size: 16px;
  }
  .podcast-container-flyer img {
    height: 80%;
    width: 100%;
  }
  .podcast_paragraph {
    font-size: 1.4rem;
  }
  .podcast_title {
    font-size: 40px;
  }
  .podcast_line {
    border-left: 30px solid #8342ea;
    border-bottom: 30px solid #8342ea;
  }
}

/* Tablet */
@media only screen and (min-width: 480px) and (max-width: 768px) {
  
  .podcast-container-intro {
    height: 60%;
    padding: 5% 5%;
    padding-left: 30%;

  }
  .podcast-container-intro p {
    font-size: 16px;
  }
  .podcast-container-flyer img {
    height: 70%;
    width: 100%;
  }
  .podcast_paragraph {
    font-size: 1.2rem;
  }
  .podcast_title {
    font-size: 30px;
  }
  .podcast_line {
    border-left: 20px solid #8342ea;
    border-bottom: 20px solid #8342ea;
  }
  .podcast-container-intro_button {
    width: 60px;
    font-size: 16px;
  }
  .podcast {
    grid-template-rows: 0.1fr 1fr;
    height: 500px;
  }
}

/* Celu acostado */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .podcast {
    margin-top: 5%;
    grid-template-rows: 1fr 0.5fr;
    height: 500px;
  }
  .podcast-container {
    margin: 2%;
  }
  .podcast_title {
    font-size: 20px;
  }

  .podcast-container-intro {
    padding: 5%;
    height: 300px;
    margin-right: 10%;
    margin-left: 10%;
    width: 80%;
    font-size: 16px;
  }
  .podcast-container-intro p {
    font-size: 16px;
  }
  .podcast-container-flyer{
    height: 400px;
  }
  .podcast-container-flyer img {
    height: 80%;
    width: 80%;
    margin:0;
  }
  .podcast_paragraph {
    font-size: 16px;
  }
  .podcast-container-intro_button {
    width: 80px;
    font-size: 16px;
  }
  .podcast_line {
    border-left: 15px solid #8342ea;
    border-bottom: 15px solid #8342ea;
  }
  
  .podcast-title-paragraph_container {
    grid-template-columns: 0.25fr 0.02fr 1fr;
  }

  .podcast-container {
    display: block;
  }
  .podcast-container_button {
    display: flex;
    justify-content: center;
  }
  .podcast-container-intro_grid {
    grid-template-columns: none;
  } 
}

/* Celu */
@media only screen and (max-width: 320px) {
  .podcast {
    margin-top: 5%;
    grid-template-rows: 0.5fr 1fr;
    height: 500px;
  }
  .podcast-container {
    margin: 2%;
  }
  .podcast_title {
    font-size: 20px;
  }

  .podcast-container-intro {
    padding: 5%;
    height: 300px;
    margin-right: 10%;
    margin-left: 10%;
    width: 80%;
    font-size: 16px;
  }
  .podcast-container-intro p {
    font-size: 16px;
  }
  .podcast-container-flyer{
    height: 400px;
    margin-top: 20%;
  }
  .podcast-container-flyer img {
    height: 80%;
    width: 80%;
    margin:0;
  }
  .podcast_paragraph {
    font-size: 16px;
  }
  .podcast-container-intro_button {
    width: 80px;
    font-size: 16px;
  }
  .podcast_line {
    border-left: 15px solid #8342ea;
    border-bottom: 15px solid #8342ea;
  }
  .podcast-title-paragraph_container {
    grid-template-columns: 0.25fr 0.02fr 1fr;
  }

  .podcast-container {
    display: block;
  }
  .podcast-container_button {
    display: flex;
    justify-content: center;
  }
  .podcast-container-intro_grid {
    grid-template-columns: none;
  }
}
