.history-container {
  margin-top: 10%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 10%;
  text-align: justify;
  font-family: LeagueSpartan-Regular;
  font-size: 1.2rem;
  margin-right: 5%;
  margin-left: 5%;
}

.history-container img {
  width: 750px;
  height: 480px;
}

.img-right-one {
  display: flex;
  justify-content: flex-end;
  margin-bottom: -9%;
}

.img-left-one {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: -10%;
  z-index: -1;
}

.img-right-two {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: -10%;
  z-index: -1;
  width: 100%;
}

.img-left-two {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: -9%;
  z-index: -1;
  height: 700px;
}

.text-container {
  display: flex;
  justify-content: center;
  font-family: LeagueSpartan-Regular;
}

.text-history {
  background-color: rgba(131, 66, 234, 0.3);
  width: 750px;
  height: 480px;
  padding: 50px 100px 50px 100px;
  display: flex;
  align-items: center;
  font-family: LeagueSpartan-Regular;
  font-size: 22px;
  z-index: 1;
}

.text-history-center {
  background-color: rgba(131, 66, 234, 0.3);
  width: 750px;
  height: 480px;
  padding: 50px 100px 50px 100px;
  display: flex;
  align-items: center;
  margin-top: -9%;
  font-family: LeagueSpartan-Regular;
  font-size: 22px;
  z-index: 1;
}

.text-history-last {
  background-color: rgba(131, 66, 234, 0.3);
  width: 750px;
  height: 480px;
  padding: 50px 100px 50px 100px;
  display: flex;
  align-items: center;
  margin-top: -7%;
  font-family: LeagueSpartan-Regular;
  font-size: 22px;
  z-index: 1;
}

.right-line {
  width: 30%;
  border-style: solid;
  border-width: 30px;
  border-color: rgba(131, 66, 234, 0.3);
  border-left: rgba(131, 66, 234, 0.3);
}

.left-line {
  width: 30%;
  border-style: solid;
  border-width: 30px;
  border-color: rgba(131, 66, 234, 0.3);
  border-right: rgba(131, 66, 234, 0.3);
  margin-left: 70%;
}

.gracias-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -2%;
  margin-bottom: 5%;
  font-size: 60px;
  line-height: 55%;
  font-family: LeagueSpartan-Bold;
}

.gracias {
  color: #8342ea;
}

.apoyo-container {
  display: flex;
  justify-content: flex-end;
  font-size: 60px;
  padding-right: 14%;
  font-family: LeagueSpartan-Bold;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .history-container {
    margin-top: 15%;
  }

  .left-line {
    display: none;
  }

  .right-line {
    display: none;
  }

  .history-container img {
    width: 450px;
    height: 280px;
  }

  .text-history {
    width: 450px;
    height: 280px;
    padding: 60px 40px 60px 40px;
  }

  .text-history-center {
    width: 450px;
    height: 280px;
    padding: 60px 40px 60px 40px;
  }

  .text-history-last {
    width: 450px;
    height: 280px;
    padding: 60px 40px 60px 40px;
  }

  .img-right-two {
    display: grid;
    grid-template-columns: none;
    margin-top: -10%;
    z-index: -1;
    width: 100%;
    justify-items: end;
  }

  .gracias-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -22%;
    margin-bottom: 5%;
    font-size: 40px;
    line-height: 1%;
  }

  .apoyo-container {
    font-size: 40px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  .history-container {
    margin-top: 25%;
  }

  .left-line {
    display: none;
  }

  .right-line {
    display: none;
  }

  .history-container img {
    width: 350px;
    height: 180px;
  }

  .img-right-one {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0%;
  }

  .img-left-one {
    display: flex;
    justify-content: flex-start;
    grid-template-columns: none;
    z-index: none;
    margin-top: 0%;
  }

  .img-right-two {
    display: flex;
    justify-content: flex-end;
    grid-template-columns: none;
    margin-top: 0%;
    z-index: none;
    width: none;
  }

  .img-left-two {
    display: flex;
    justify-content: flex-start;
    grid-template-columns: none;
    margin-top: 0%;
    z-index: none;
    height: none;
  }

  .text-history {
    width: 450px;
    height: 170px;
    padding: 40px 60px 40px 60px;
    background-color: transparent;
    border-style: solid;
    border-width: 5px;
    border-color: rgba(131, 66, 234, 0.3);
    border-right: rgba(131, 66, 234, 0.3);
    border-left: rgba(131, 66, 234,0.3);
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .text-history-center {
    width: 450px;
    height: 140px;
    padding: 40px 60px 40px 60px; 
    background-color: transparent;
    border-style: solid;
    border-width: 5px;
    border-color: rgba(131, 66, 234, 0.3);
    border-right: rgba(131, 66, 234, 0.3);
    border-left: rgba(131, 66, 234,0.3);
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .text-history-last {
    width: 450px;
    height: 220px;
    padding: 40px 60px 40px 60px; 
    background-color: transparent;
    border-style: solid;
    border-width: 5px;
    border-color: rgba(131, 66, 234, 0.3);
    border-right: rgba(131, 66, 234, 0.3);
    border-left: rgba(131, 66, 234,0.3);
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .gracias-container {
    margin-top: -50%;
    font-size: 40px;
    line-height: none;
  }

  .apoyo-container {
    font-size: 40px;
  }
}

@media only screen and (min-width: 340px) and (max-width: 480px) {
  .history-container {
    margin-top: 30%;
  }

  .left-line {
    display: none;
  }

  .right-line {
    display: none;
  }

  .history-container img {
    width: 350px;
    height: 180px;
  }

  .img-right-one {
    display: flex;
    justify-content: center;
    margin-bottom: 0%;
  }

  .img-left-one {
    display: flex;
    justify-content: center;
    grid-template-columns: none;
    z-index: none;
    margin-top: 0%;
  }

  .img-right-two {
    display: flex;
    justify-content: center;
    grid-template-columns: none;
    margin-top: 0%;
    z-index: none;
    width: none;
  }

  .img-left-two {
    display: flex;
    justify-content: center;
    grid-template-columns: none;
    margin-top: 0%;
    z-index: none;
    height: none;
  }

  .text-history {
    width: 450px;
    height: 170px;
    padding: 0px 20px 0px 20px;
    background-color: transparent;
    border-style: solid;
    border-width: 5px;
    border-color: rgba(131, 66, 234, 0.3);
    border-right: rgba(131, 66, 234, 0.3);
    border-left: rgba(131, 66, 234,0.3);
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .text-history-center {
    width: 450px;
    height: 140px;
    padding: 0px 20px 0px 20px;
    background-color: transparent;
    border-style: solid;
    border-width: 5px;
    border-color: rgba(131, 66, 234, 0.3);
    border-right: rgba(131, 66, 234, 0.3);
    border-left: rgba(131, 66, 234,0.3);
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .text-history-last {
    width: 450px;
    height: 220px;
    padding: 0px 20px 0px 20px; 
    background-color: transparent;
    border-style: solid;
    border-width: 5px;
    border-color: rgba(131, 66, 234, 0.3);
    border-right: rgba(131, 66, 234, 0.3);
    border-left: rgba(131, 66, 234,0.3);
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .gracias-container {
    margin-top: -80%;
    font-size: 40px;
    line-height: none;
  }

  .apoyo-container {
    font-size: 40px;
  }
}

@media only screen and (max-width: 340px) {
  .history-container {
    margin-top: 30%;
  }

  .left-line {
    display: none;
  }

  .right-line {
    display: none;
  }

  .history-container img {
    width: 350px;
    height: 180px;
  }

  .img-right-one {
    display: flex;
    justify-content: center;
    margin-bottom: 0%;
  }

  .img-left-one {
    display: flex;
    justify-content: center;
    grid-template-columns: none;
    z-index: none;
    margin-top: 0%;
  }

  .img-right-two {
    display: flex;
    justify-content: center;
    grid-template-columns: none;
    margin-top: 0%;
    z-index: none;
    width: none;
  }

  .img-left-two {
    display: flex;
    justify-content: center;
    grid-template-columns: none;
    margin-top: 0%;
    z-index: none;
    height: none;
  }

  .text-history {
    width: 450px;
    height: 180px;
    padding: 0px 20px 0px 20px;
    background-color: transparent;
    border-style: solid;
    border-width: 5px;
    border-color: rgba(131, 66, 234, 0.3);
    border-right: rgba(131, 66, 234, 0.3);
    border-left: rgba(131, 66, 234,0.3);
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .text-history-center {
    width: 450px;
    height: 150px;
    padding: 0px 20px 0px 20px;
    background-color: transparent;
    border-style: solid;
    border-width: 5px;
    border-color: rgba(131, 66, 234, 0.3);
    border-right: rgba(131, 66, 234, 0.3);
    border-left: rgba(131, 66, 234,0.3);
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .text-history-last {
    width: 450px;
    height: 230px;
    padding: 0px 20px 0px 20px;
    background-color: transparent;
    border-style: solid;
    border-width: 5px;
    border-color: rgba(131, 66, 234, 0.3);
    border-right: rgba(131, 66, 234, 0.3);
    border-left: rgba(131, 66, 234,0.3);
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .gracias-container {
    margin-top: -100%;
    font-size: 30px;
    line-height: none;
  }

  .apoyo-container {
    font-size: 30px;
  }

}


