.photo-container {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  margin-top: 100px;
}
label {
  width: 350px;
  box-sizing: border-box;
}
