.footer-container {
  display: grid;
  grid-template-columns: 1.25fr 1.25fr 0.75fr 0.5fr;
  margin: 5%;
  align-items: flex-end;
}

.footer-container h1 {
  font-size: 18px;
  color: white;
}


#links h1:hover {
  color: #8342ea
}

#link-to-contact {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 18%;
}

#link-to-contact h1 {
  color: black;
  background-color: white;
  height: 50px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

