.milestone-container {
  padding-top: 15%;
}

.milestone-container p {
  padding: 40px 50px 40px 50px;
}

/*grillas para imagen y parrafo*/
.grid-milestone {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 5%;
  margin-bottom: 5%;
}

/*centra las imagenes*/
.tresor-img {
  padding-left: 5%;
  height: 20em;
}

.underground-img {
  padding-left: 5%;
  height: 20em;
}

.tierra-img {
  padding-right: 5%;
  height: 15em;
}
/*tamaño modificado por su alto*/
.bassiani-img {
   height: 60%; 
  padding-right: 3%;
}

/*divide la grilla para la imagen en 50% y se da estilos para bassiani*/
.img-milestone-container-bassiani {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 22rem; */
}

/*divide la grilla para la imagen en 50% y se da estilos*/
.img-milestone-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*divide la grilla para la imagen en 50% y se da estilos*/
.parrafo-container {
  font-size: 18px;
  font-family: LeagueSpartan-Regular;

  display: flex;
  justify-content: center;
  align-items: center;
}

/*grilla para las lineas*/
.grid-line {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

/*linea vertical para unir imagenes 1 y 3*/
.line {
  border-style: solid;
  border-width: 30px;
  border-color: #8343ea;
  border-right: #8343ea;
  border-bottom: #8343ea;
  border-top: #8343ea;
  height: 100px;
}
/*linea vertical para unir imagenes 2*/
.line-center {
  border-style: solid;
  border-width: 30px;
  border-color: #8343ea;
  border-left: #8343ea;
  border-bottom: #8343ea;
  border-top: #8343ea;
  height: 100px;
}

/*primera linea*/
.line-one {
  border-style: solid;
  border-width: 30px;
  border-color: #8343ea;
  border-left: #8343ea;
  border-bottom: #8343ea;
  height: 300px;
}
/*segunda linea*/
.line-two {
  border-style: solid;
  border-width: 30px;
  border-color: #8343ea;
  border-right: #8343ea;
  height: 300px;
  border-bottom: #8343ea;
}
/*tercera linea*/
.line-three {
  border-style: solid;
  border-width: 30px;
  border-color: #8343ea;
  border-left: #8343ea;
  border-bottom: #8343ea;
  height: 300px;
}

.banner-milestones{
  background-color: rgba(131, 66, 234, 0.3);
  text-align: left;
  margin-bottom: 5%;
}

.banner-milestones-text {
  text-transform: uppercase;
  font-size: 50px;
  color: white;
  padding: 5% !important;
}

@media only screen and (min-width: 1024px) and (max-width: 1280px) {
  .tierra-img {
    height: 60%;
  }

.banner-milestones-text {
  font-size: 40px;
}
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .milestone-container {
    margin-top: 15%;
  }

  .milestone-container p {
    padding-left: 5%;
    padding-right: 5%;
  }

  .grid-milestone {
    grid-template-columns: 0.5fr 1fr;
    margin-top: 2%;
    margin-bottom: 2%;
  }

  .inversa{
    grid-template-columns: 1fr 0.5fr;
  }

  .tresor-img {
    height: 20em;
  }

  .underground-img {
    padding-left: 5%;
    height: 20em;
  }

  .tierra-img {
    padding-right: 5%;
    height: 10em;
  }

  .bassiani-img {
     height: 55%; 
  }

  .parrafo-container {
    font-size: 16px;
  }

  .grid-line {
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.5fr;
  }

  .banner-milestones-text {
    font-size: 30px;
  }

}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  .milestone-container {
    margin-top: 25%;
  }

  .milestone-container p {
    padding-left: 5%;
    padding-right: 5%;
  }

  .grid-milestone {
    display: flex;
    grid-template-columns: none;
    flex-direction: column;
  }

  .inversa {
    flex-direction: column-reverse;
  }

  .img-milestone-container {
    margin-top: 10%;
    justify-content: flex-start;
  }

  .tierras {
    justify-content: flex-end;
  }

  .parrafo-container {
    font-size: 16px;
    margin-top: 5%;
  }
  .tresor-img {
    padding-left: 5%;
    height: 20em;
  }
  .tierra-img {
    height: 12em;
  }
  .bassiani-img {
    height: 16em;
    width: 11em;
  }

  .underground-img {
    padding-left: 5%;
    height: 18em;
  }

  .img-milestone-container-bassiani {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 15rem;
    padding-right: 6%;
  }

  .line {
    border-width: 20px;
  }

  .line-center {
    border-width: 20px;
  }

  .line-one {
    border-width: 20px;
    height: 200px;
  }

  .line-two {
    border-width: 20px;
    height: 200px;
  }

  .line-three {
    border-width: 20px;
    height: 200px;
  }

  .banner-milestones-text {
    font-size: 20px;
  }
}

@media only screen and (min-width: 340px) and (max-width: 480px) {
  .milestone-container {
    margin-top: 25%;
  }

  .milestone-container p {
    padding-left: 5%;
    padding-right: 5%;
  }

  .grid-milestone {
    display: flex;
    grid-template-columns: none;
    flex-direction: column;
  }

  .inversa {
    flex-direction: column-reverse;
  }

  .img-milestone-container {
    margin-top: 10%;
    justify-content: flex-start;
  }

  .tierras {
    justify-content: flex-end;
  }

  .parrafo-container {
    font-size: 16px;
    margin-top: 5%;
  }
  .tresor-img {
    padding-left: 5%;
    height: 15em;
  }
  .tierra-img {
    height: 9em;
    padding-right: 5%;
  }
  .bassiani-img {
    height: 14em;
    padding-right: 0%;
  }

  .underground-img {
    padding-left: 5%;
    height: 14em;
  }

  .img-milestone-container-bassiani {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 15rem;
    padding-right: 12%;
  }


  .line {
    border-width: 20px;
  }

  .line-center {
    border-width: 20px;
  }

  .line-one {
    border-width: 20px;
    height: 200px;
  }

  .line-two {
    border-width: 20px;
    height: 200px;
  }

  .line-three {
    border-width: 20px;
    height: 200px;
  }

  .banner-milestones-text {
    font-size: 20px;
  }
}

@media only screen and (max-width: 340px) {
  .milestone-container {
    margin-top: 25%;
  }

  .milestone-container p {
    padding-left: 5%;
    padding-right: 5%;
  }

  .grid-milestone {
    display: flex;
    grid-template-columns: none;
    flex-direction: column;
  }

  .inversa {
    flex-direction: column-reverse;
  }

  .img-milestone-container {
    margin-top: 10%;
    justify-content: flex-start;
  }

  .tierras {
    justify-content: flex-end;
  }

  .parrafo-container {
    font-size: 16px;
    margin-top: 5%;
  }
  .tresor-img {
    padding-left: 5%;
    height: 15em;
  }
  .tierra-img {
    height: 9em;
    padding-right: 5%;
  }
  .bassiani-img {
    height: 14em;
    padding-right: 0%;
  }

  .underground-img {
    padding-left: 5%;
    height: 14em;
  }

  .img-milestone-container-bassiani {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 15rem;
    padding-right: 12%;
  }

  .line {
    border-width: 20px;
  }

  .line-center {
    border-width: 20px;
  }

  .line-one {
    border-width: 20px;
    height: 200px;
  }

  .line-two {
    border-width: 20px;
    height: 200px;
  }

  .line-three {
    border-width: 20px;
    height: 200px;
  }

  .banner-milestones-text {
    font-size: 15px;
  }
}
