.milestone-container {
  padding-top: 15%;
}

.milestone-container p {
  padding: 40px 50px 40px 50px;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: #8542ea;
  opacity: 0.5;
  transform-origin: 0%;
}

/*grillas para imagen y parrafo*/
.grid-milestone {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/*centra las imagenes*/
.tresor-img {
  padding-left: 5%;
  height: 20em;
}

.underground-img {
  padding-left: 5%;
  height: 20em;
}

.tierra-img {
  padding-right: 5%;
  height: 15em;
}
/*tamaño modificado por su alto*/
.bassiani-img {
  height: 55%;
  padding-right: 3%;
}

/*divide la grilla para la imagen en 50% y se da estilos para bassiani*/
.img-milestone-container-bassiani {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 22rem; */
}

/*divide la grilla para la imagen en 50% y se da estilos*/
.img-milestone-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*divide la grilla para la imagen en 50% y se da estilos*/
.parrafo-container {
  font-size: 24px;
  font-family: LeagueSpartan-Regular;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
}

.parrafo-container-left-milestone {
  font-size: 24px;
  font-family: LeagueSpartan-Regular;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  margin-left: 25%;
}

/*grilla para las lineas*/
.grid-line {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

/*linea vertical para unir imagenes 1 y 3*/
.line {
  border-style: solid;
  border-width: 45px;
  border-color: rgba(131, 66, 234, 0.4);
  border-right: rgba(131, 66, 234, 0.4);
  border-bottom: rgba(131, 66, 234, 0.4);
  border-top: rgba(131, 66, 234, 0.4);
  height: 100px;
  margin-top: -4%;
}

/*linea vertical para unir imagenes 2*/
.line-center {
  border-style: solid;
  border-width: 45px;
  border-color: rgba(131, 66, 234, 0.4);
  border-left: rgba(131, 66, 234, 0.4);
  border-bottom: rgba(131, 66, 234, 0.4);
  border-top: rgba(131, 66, 234, 0.4);
  height: 100px;
  margin-top: -8%;
}

/*primera linea*/
.line-one {
  border-style: solid;
  border-width: 45px;
  border-color: rgba(131, 66, 234, 0.4);
  border-left: rgba(131, 66, 234, 0.4);
  border-bottom: rgba(131, 66, 234, 0.4);
  height: 350px;
  margin-bottom: -10%;
}
/*segunda linea*/
.line-two {
  border-style: solid;
  border-width: 45px;
  border-color: rgba(131, 66, 234, 0.4);
  border-right: rgba(131, 66, 234, 0.4);
  height: 370px;
  margin-bottom: -12%;
  border-bottom: rgba(131, 66, 234, 0.4);
}

.line-under {
  border-style: solid;
  border-width: 45px;
  border-color: rgba(131, 66, 234, 0.4);
  border-right: rgba(131, 66, 234, 0.4);
  border-bottom: rgba(131, 66, 234, 0.4);
  border-top: rgba(131, 66, 234, 0.4);
  height: 220px;
  margin-top: -13%;
}
/*tercera linea*/
.line-three {
  border-style: solid;
  border-width: 45px;
  border-color: rgba(131, 66, 234, 0.4);
  border-left: rgba(131, 66, 234, 0.4);
  border-bottom: rgba(131, 66, 234, 0.4);
  height: 100px;
}

.banner-milestones {
  background-color: rgba(131, 66, 234, 0.3);
  /* text-align: left; */
}

.banner-milestones-text {
  font-size: 50px;
  color: white;
  padding: 5% !important;
  margin-bottom: 0rem;
  margin-top: 5%;
  padding-left: 10% !important;
  padding-right: 10% !important;
}

.line-center-gracias {
  border-style: solid;
  border-width: 45px;
  border-color: rgba(131, 66, 234, 0.4);
  border-left: rgba(131, 66, 234, 0.4);
  border-bottom: rgba(131, 66, 234, 0.4);
  border-top: rgba(131, 66, 234, 0.4);
  height: 55px;
}

.line-four-small {
  border-style: solid;
  border-width: 45px;
  border-color: rgba(131, 66, 234, 0.4);
  border-right: rgba(131, 66, 234, 0.4);
  border-left: rgba(131, 66, 234, 0.4);
  border-bottom: rgba(131, 66, 234, 0.4);
}

.text-gracias-milestone {
  display: flex;
  justify-content: flex-end;
  margin-top: -1%;
  margin-right: 5%;
  text-transform: uppercase;
  font-size: 50px;
  color: #8542ea;
}

@media only screen and (min-width: 1024px) and (max-width: 1500px) {
  .bassiani-img {
    height: 20em;
    padding-right: 3%;
  }

  .parrafo-container {
    font-size: 20px;
    width: 100%;
  }

  .line-two {
    margin-bottom: -8%;
  }

  .line-under {
    margin-top: -8%;
  }
  .banner-milestones {
    width: 100%;
  }

  .parrafo-container-left-milestone {
    font-size: 20px;
    width: 100%;
    margin-left: 10%;
  }

  .banner-milestones-text {
    font-size: 30px;
  }

  .text-gracias-milestone {
    margin-top: 2%;
    margin-right: 5%;
    font-size: 30px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .grid-milestone {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
  }

  .underground-img {
    padding-left: 5%;
    height: 17em;
  }

  .bassiani-img {
    height: 18em;
    padding-right: 3%;
  }

  .tierra-img {
    padding-right: 8%;
    height: 8em;
  }

  .inversa {
    grid-template-columns: 1fr 0.5fr;
  }

  .grid-line {
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.5fr;
  }

  .line {
    border-style: solid;
    border-width: 30px;
    border-color: rgba(131, 66, 234, 0.4);
    border-right: rgba(131, 66, 234, 0.4);
    border-bottom: rgba(131, 66, 234, 0.4);
    border-top: rgba(131, 66, 234, 0.4);
    height: 80px;
    margin-top: -2%;
  }

  .line-center {
    border-style: solid;
    border-width: 30px;
    border-color: rgba(131, 66, 234, 0.4);
    border-left: rgba(131, 66, 234, 0.4);
    border-bottom: rgba(131, 66, 234, 0.4);
    border-top: rgba(131, 66, 234, 0.4);
    height: 80px;
    margin-top: -8%;
  }

  .line-one {
    border-style: solid;
    border-width: 30px;
    border-color: rgba(131, 66, 234, 0.4);
    border-left: rgba(131, 66, 234, 0.4);
    border-bottom: rgba(131, 66, 234, 0.4);
    height: 330px;
    margin-bottom: -10%;
  }

  .line-two {
    border-style: solid;
    border-width: 30px;
    border-color: rgba(131, 66, 234, 0.4);
    border-right: rgba(131, 66, 234, 0.4);
    height: 350px;
    margin-bottom: -10%;
    border-bottom: rgba(131, 66, 234, 0.4);
  }

  .line-under {
    border-style: solid;
    border-width: 30px;
    border-color: rgba(131, 66, 234, 0.4);
    border-right: rgba(131, 66, 234, 0.4);
    border-bottom: rgba(131, 66, 234, 0.4);
    border-top: rgba(131, 66, 234, 0.4);
    height: 200px;
    margin-top: -10%;
  }

  .line-three {
    border-style: solid;
    border-width: 30px;
    border-color: rgba(131, 66, 234, 0.4);
    border-left: rgba(131, 66, 234, 0.4);
    border-bottom: rgba(131, 66, 234, 0.4);
    height: 80px;
  }

  .parrafo-container {
    font-size: 18px;
    width: 100%;
  }

  .banner-milestones {
    width: 100%;
  }

  .parrafo-container-left-milestone {
    font-size: 18px;
    width: 100%;
    margin-left: 5%;
  }

  .banner-milestones-text {
    font-size: 25px;
  }

  .text-gracias-milestone {
    margin-top: 2%;
    margin-right: 5%;
    font-size: 25px;
  }

  .line-center-gracias {
    border-style: solid;
    border-width: 30px;
    border-color: rgba(131, 66, 234, 0.4);
    border-left: rgba(131, 66, 234, 0.4);
    border-bottom: rgba(131, 66, 234, 0.4);
    border-top: rgba(131, 66, 234, 0.4);
    height: 55px;
  }

  .line-four-small {
    border-style: solid;
    border-width: 30px;
    border-color: rgba(131, 66, 234, 0.4);
    border-right: rgba(131, 66, 234, 0.4);
    border-left: rgba(131, 66, 234, 0.4);
    border-bottom: rgba(131, 66, 234, 0.4);
  }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  .grid-milestone {
    display: flex;
    grid-template-columns: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .tresor-img {
    padding-left: 0%;
  }

  .underground-img {
    padding-left: 0%;
    height: 17em;
  }

  .bassiani-img {
    height: 18em;
    padding-right: 0%;
  }

  .tierra-img {
    padding-right: 0%;
    height: 10em;
  }

  .inversa {
    grid-template-columns: none;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .grid-line {
    display: grid;
    grid-template-columns: 0.5fr 2fr 2fr;
    height: 40px;
  }

  .line {
    border-style: none;
  }

  .line-center {
    border-style: none;
  }

  .line-one {
    border-style: none;
  }

  .line-two {
    border-style: none;
  }

  .line-under {
    border-style: none;
  }

  .line-three {
    border-style: none;
  }

  .parrafo-container {
    font-size: 18px;
    width: 100%;
  }

  .banner-milestones {
    width: 100%;
  }

  .parrafo-container-left-milestone {
    font-size: 18px;
    width: 100%;
    margin-left: 5%;
  }

  .banner-milestones-text {
    font-size: 25px;
  }

  .text-gracias-milestone {
    margin-right: -100%;
  }

  .line-center-gracias {
    border-style: none;
  }

  .line-four-small {
    border-style: none;
  }
}

@media only screen and (min-width: 340px) and (max-width: 480px) {
  .milestone-container {
    padding-top: 25%;
  }

  .grid-milestone {
    display: flex;
    grid-template-columns: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .tresor-img {
    padding-left: 0%;
  }

  .underground-img {
    padding-left: 0%;
    height: 17em;
  }

  .bassiani-img {
    height: 18em;
    padding-right: 0%;
  }

  .tierra-img {
    padding-right: 0%;
    height: 10em;
  }

  .inversa {
    grid-template-columns: none;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .grid-line {
    display: grid;
    grid-template-columns: 0.5fr 2fr 2fr;
    height: 40px;
  }

  .line {
    border-style: none;
  }

  .line-center {
    border-style: none;
  }

  .line-one {
    border-style: none;
  }

  .line-two {
    border-style: none;
  }

  .line-under {
    border-style: none;
  }

  .line-three {
    border-style: none;
  }

  .parrafo-container {
    font-size: 16px;
    width: 100%;
  }

  .banner-milestones {
    width: 100%;
  }

  .parrafo-container-left-milestone {
    font-size: 16px;
    width: 100%;
    margin-left: 5%;
  }

  .banner-milestones-text {
    font-size: 22px;
  }

  .text-gracias-milestone {
    margin-right: -120%;
    font-size: 35px;
  }

  .line-center-gracias {
    border-style: none;
  }

  .line-four-small {
    border-style: none;
  }
}

@media only screen and (max-width: 340px) {
  .milestone-container {
    padding-top: 25%;
  }

  .grid-milestone {
    display: flex;
    grid-template-columns: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .tresor-img {
    padding-left: 0%;
  }

  .underground-img {
    padding-left: 0%;
    height: 17em;
  }

  .bassiani-img {
    height: 18em;
    padding-right: 0%;
  }

  .tierra-img {
    padding-right: 0%;
    height: 10em;
  }

  .inversa {
    grid-template-columns: none;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .grid-line {
    display: grid;
    grid-template-columns: 0.5fr 2fr 2fr;
    height: 40px;
  }

  .line {
    border-style: none;
  }

  .line-center {
    border-style: none;
  }

  .line-one {
    border-style: none;
  }

  .line-two {
    border-style: none;
  }

  .line-under {
    border-style: none;
  }

  .line-three {
    border-style: none;
  }

  .parrafo-container {
    font-size: 16px;
    width: 100%;
  }

  .banner-milestones {
    width: 100%;
  }

  .parrafo-container-left-milestone {
    font-size: 16px;
    width: 100%;
    margin-left: 5%;
  }

  .banner-milestones-text {
    font-size: 22px;
  }

  .text-gracias-milestone {
    margin-right: -150%;
    font-size: 35px;
  }

  .line-center-gracias {
    border-style: none;
  }

  .line-four-small {
    border-style: none;
  }
}
