.containerVideo {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

video {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.headerContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 200px;
}

.titulo1 {
  font-size: 100px;
  margin-left: 2%;
}

.titulo2 {
  font-size: 100px;
  color: blueviolet;
  margin-left: 2%;
}

.overlay {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

/* // Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... } */

/* DESKTOP */
@media (max-width: 991.98px) {
  .titulo1 {
    font-size: 40px;
  }
  .titulo2 {
    font-size: 40px
  }
}

@media (max-width: 767.98px) {
  .titulo1 {
    /* font-size: 40px; */
    display: none;
  }
  .titulo2 {
    /* font-size: 40px */
    display: none;
  }
}

@media (max-width: 575.98px) {
  .titulo1 {
    /* font-size: 20px; */
    display: none;
  }
  .titulo2 {
    /* font-size: 20px */
    display: none;
  }
}
