.episode {
  margin-top: 10%;
  height: 720px;
  width: 100%;
  padding: 5% 5% 2% 5%;
  display: grid;
  grid-template-rows: 0.25fr 1fr;
}

.episode-title-paragraph_container {
  display: grid;
  grid-template-columns: 1fr 0.25fr 0.15fr;
}

.episode_title {
  font-size: 75px;
}

.episode_title-container {
  display: flex;
  justify-content: flex-end;
}

.episode-paragraph_container {
  display: flex;
  align-items: flex-end;
}

.episode_paragraph {
  font-size: 1.6rem;
  margin-bottom: 0;
}

.episode_line {
  opacity: 0.4;
  border-right: 45px solid #8342ea;
  border-bottom: 45px solid #8342ea;
}

.episode-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  margin: 5%;
}

.episode-container_intro {
  height: 700px;
  background-color: rgba(131, 66, 234, 0.3);
  padding: 10% 10%;
  overflow: hidden;
  display: grid;
  grid-template-rows: 1fr 0.15fr;
  margin-left: -20%;
  margin-right: 10%;
  align-items: center;
}

.episode-container-intro_grid {
  display: grid;
  grid-template-columns: 0.25fr 1fr;
}

.episode-container_intro p {
  height: auto;
  font-size: 25px;
  font-family: LeagueSpartan-Regular;
  word-wrap: break-word;
}

.episode-container_button {
  display: grid;
  grid-template-columns: 0.25fr 1fr;
}

.episode-container_intro_button {
  text-transform: uppercase;
  width: 15%;
  border: none;
  background: rgb(255, 255, 255);
  padding: 2%;
  color: black;
  font-size: 20px;
  border-radius: 25px;
  transition: ease-out 0.3s;
  z-index: 1;
  position: relative;
}

.episode-container_intro_button:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  content: "";
  background-color: blueviolet;
  color: white;
  opacity: 0;
  border-radius: 25px;
}

.episode-container_intro_button:hover:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: -1;
}

.carousel-control-prev,
.carousel-control-next {
  width: 5%;
}

.carousel-item {
  padding-top: 5%;
  padding-bottom: 5%;
}

.episode-container-flyer {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.episode-container-flyer img {
  height: 160%;
  width: 100%;
  margin-left: 10%;
}

/* MEDIA QUERIES */

/* Notebook */
@media only screen and (min-width: 1024px) and (max-width: 1200px) {
  .episode-container_intro {
    padding: 8%;
    height: 90%;
  }
  .episode-container_intro p {
    font-size: 20px;
  }
  .episode-container-flyer img {
    height: 100%;
    width: 100%;
  }
  .episode_paragraph {
    font-size: 1.4rem;
  }
  .episode-container_intro_button {
    width: 40%;
  }
}

/* Tablet acostada */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .episode-container {
    margin: 2%;
  }
  .episode_title {
    font-size: 40px;
  }
  .episode-container_intro {
    padding: 5%;
    height: 80%;
  }
  .episode-container_intro p {
    font-size: 16px;
  }
  .episode-container-flyer img {
    height: 90%;
    width: 100%;
  }
  .episode_paragraph {
    font-size: 1.4rem;
  }
  .episode-container_intro_button {
    width: 40%;
  }
  .episode_line {
    border-right: 30px solid #8342ea;
    border-bottom: 30px solid #8342ea;
  }
  .episode-title-paragraph_container {
    grid-template-columns: 0.25fr 0.15fr 1fr;
  }
}

/* Tablet */
@media only screen and (min-width: 480px) and (max-width: 768px) {
  .episode {
    grid-template-rows: 0.1fr 0.65fr;
    height: 500px;
  }
  .episode_title {
    font-size: 30px;
  }
  .episode-container_intro {
    padding: 8%;
    height: 400px;
  }
  .episode-container_intro p {
    font-size: 18px;
  }
  .episode-container-flyer img {
    height: 80%;
    width: 100%;
  }
  .episode_paragraph {
    font-size: 1.2rem;
  }
  .episode-container_intro_button {
    width: 150px;
  }
  .episode_line {
    border-right: 20px solid #8342ea;
    border-bottom: 20px solid #8342ea;
  }
  .episode-title-paragraph_container {
    grid-template-columns: 0.25fr 0.15fr 1fr;
  }
  .episode-container {
    display: block;
  }
  .episode-container_button {
    display: flex;
    justify-content: center;
  }
}

/* Celu acostado */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .episode {
    margin-top: 5%;
    grid-template-rows: 0.5fr 1fr;
    height: 500px;
  }
  .episode_title {
    font-size: 20px;
  }
  .episode-container_intro {
    padding: 8%;
    height: 400px;
  }
  .episode-container_intro p {
    font-size: 16px;
  }
  .episode-container-flyer img {
    height: 80%;
    width: 100%;
  }
  .episode_paragraph {
    padding-top: 5%;
    font-size: 16px;
  }
  .episode-container_intro_button {
    width: 150px;
  }
  .episode_line {
    border-right: 15px solid #8342ea;
    border-bottom: 15px solid #8342ea;
  }
  .episode-title-paragraph_container {
    grid-template-columns: 0.25fr 0.02fr 1fr;
  }
  .episode-container {
    display: block;
  }
  .episode-container_button {
    display: flex;
    justify-content: center;
  }
}

/* Celu */
@media only screen and (max-width: 320px) {
  .episode {
    margin-top: 5%;
    grid-template-rows: 0.5fr 1fr;
    height: 500px;
  }
  .episode_title {
    font-size: 20px;
  }
  .episode-container_intro {
    padding: 8%;
    height: 400px;
  }
  .episode-container_intro p {
    font-size: 16px;
  }
  .episode-container-flyer img {
    height: 80%;
    width: 100%;
  }
  .episode_paragraph {
    padding-top: 5%;
    font-size: 16px;
  }
  .episode-container_intro_button {
    width: 150px;
  }
  .episode_line {
    border-right: 15px solid #8342ea;
    border-bottom: 15px solid #8342ea;
  }
  .episode-title-paragraph_container {
    grid-template-columns: 0.25fr 0.02fr 1fr;
  }
  .episode-container {
    display: block;
  }
  .episode-container_button {
    display: flex;
    justify-content: center;
  }
}
