.navbar-container {
  position: fixed;
  z-index: 2;
  justify-content: center;
  width: 100%;
  font-size: 20px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
  padding-left: 5%;
  padding-right: 5%;
}

nav ul li {
  display: inline-block;
  padding: 10px 20px;
}

.ul-navbar {
  position: initial;
  margin: 0;
}

.ul-navbar li ul {
  list-style: none;
  display: none;
  position: absolute;
  min-width: 140px;
}

.ul-navbar li:hover > ul {
  display: block;
}

.ul-navbar li a {
  text-decoration: none;
  color: white;
}

.ul-navbar li ul li a {
  text-decoration: none;
  color: white;
}

.ul-navbar li a:hover {
  color: #8342ea;
  transition: 0.3s;
}

.ul-navbar li ul li a:hover {
  color: #8342ea;
  transition: 0.3s;
}

#our-club-navbar {
  cursor: pointer;
}

#our-club-navbar:hover {
  color: #8342ea;
  transition: 0.3s;
}

.logo-fixed img {
  height: 60px;
}

.navbar-waveform {
  height: 80px;
  width: 80px;
}

.burguer{
  display: none;
}

/* MEDIA QUERIES */

/* Notebook */
@media only screen and (min-width: 1024px) and (max-width: 1200px) {
  nav {
    padding-top: 16px;
  }

  .logo-fixed img {
    height: 56px;
  }
}


/* Tablet acostada */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .navbar-container {
    font-size: 19px;
  }
  
  nav {
    padding-top: 14px;
  }

  .logo-fixed img {
    height: 52px;
  }
}


  /* Tablet */
@media only screen and (min-width: 580px) and (max-width: 768px) {
  .navbar-container {
    font-size: 18px;
  }
  
  nav {
    padding-top: 12px;
  }

  .logo-fixed img {
    height: 48px;
  }

  nav ul li {
    padding: 10px 10px;
  }

  .burguer{
    display: block;
  }

  .ul-navbar {
    list-style: none;
    left: 100%;
    transition: left 0.3s;
    position: absolute;
      top: -700px;
      left: -2000px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
  }
  
  .ul-navbar.active{
    display: flex;
    flex-direction: column;
    /* display: block;
    position: absolute; */
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    position: fixed;
    top: 30%;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    padding: 20px 0;
  
    height: calc(100% - 60px);
    overflow-y: auto;
  }
  
}


@media only screen and (min-width: 480px) and (max-width: 580px) {
  .navbar-container {
    font-size: 18px;
  }
  
  nav {
    padding-top: 12px;
  }

  .logo-fixed img {
    height: 46px;
  }

  nav ul li {
    padding: 25px 8px;
  }
    
  .burguer{
    display: block;
  }

  .ul-navbar {
    list-style: none;
    left: 100%;
    transition: left 0.3s;
    position: absolute;
      top: -700px;
      left: -2000px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
  }
  
  .ul-navbar.active{
    display: flex;
    flex-direction: column;
    /* display: block;
    position: absolute; */
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    position: fixed;
    top: 30%;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    padding: 20px 0;
  
    height: calc(100% - 60px);
    overflow-y: auto;
  }
}

/* Celu acostado */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .navbar-container {
    font-size: 16px;
  }
  
  nav {
    padding-top: 15px;
  }

  .logo-fixed img {
    height: 40px;
  }

  .ul-navbar {
  padding-left: 10px;
  padding-right: 5px;
  }
  
  nav ul li {
    padding: 10px 0px 10px 10px;
  }
  .nav-toggle {
    display: block;
  }

  .burguer{
    display: block;
  }

  .ul-navbar {
    list-style: none;
    left: 100%;
    transition: left 0.3s;
    position: absolute;
      top: -700px;
      left: -2000px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
  }
  
  .ul-navbar.active{
    display: flex;
    flex-direction: column;
    /* display: block;
    position: absolute; */
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    position: fixed;
    top: 30%;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    padding: 20px 0;
  
    height: calc(100% - 60px);
    overflow-y: auto;
  }
}


/* Celu */
@media only screen and (max-width: 320px) {
  .navbar-container {
    font-size: 16px;
  }
  
  nav {
    padding-top: 15px;
  }

  .logo-fixed img {
    height: 40px;
  }
  .nav-toggle {
    display: block
  }

  .burguer{
    display: block;
  }

  .ul-navbar {
    list-style: none;
    left: 100%;
    transition: left 0.3s;
    position: absolute;
      top: -700px;
      left: -2000px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
  }
  
  .ul-navbar.active{
    display: flex;
    flex-direction: column;
    /* display: block;
    position: absolute; */
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    position: fixed;
    top: 30%;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    padding: 20px 0;
  
    height: calc(100% - 60px);
    overflow-y: auto;
  }
}
