@font-face {
  font-family: LeagueSpartan-Regular;
  src: url("../../../public/Fonts/LeagueSpartan-Regular.ttf");
}

.culture-container {
  padding-top: 200px;
  height: 100%;
  width: 100%;
}

.intro {
  background-color: rgba(131, 66, 234, 0.3);
  color: white;
  text-transform: uppercase;
  text-align: left;
  padding: 5% 5% 5% 5%;
  font-size: 60px;
}

.violet {
  color: rgba(131, 66, 234, 0.7);
}

.culture-section {
  margin-top: 10%;
}

.culture-section div h1 {
  text-transform: uppercase;
  font-size: 70px;
}

.culture-section div p {
  font-family: LeagueSpartan-Regular;
}

.box {
  font-size: 30px;
  height: 650px;
}

.left {
  display: flex;
  flex-direction: column;
  padding-left: 15%;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 15%;
  margin-top: 40%;
}

.center-left {
  margin: 0 10% 0 30%;
}

.center-right {
  margin-top: 0%;
  margin-right: 40%;
}

.grid1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid2 {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
}

.grid3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.container-lines {
  display: flex;
  padding-left: 5%;
  padding-right: 5%;
}

.first-line {
  border-style: solid;
  border-width: 40px;
  border-color: rgba(131, 66, 234, 0.7);
  border-left: rgba(131, 66, 234, 0.7);
  border-bottom: rgba(131, 66, 234, 0.7);
  width: 50%;
  height: 25%;
  margin-top: 50%;
}

.first-line2 {
  border-style: solid;
  border-width: 40px;
  border-color: rgba(131, 66, 234, 0.7);
  border-left: rgba(131, 66, 234, 0.7);
  border-top: rgba(131, 66, 234, 0.7);
  border-right: rgba(131, 66, 234, 0.7);
  width: 50%;
  height: 25%;
  display: flex;
  margin-top: 50%;
}

.second-line {
  width: 55%;
  height: 30%;
  border-style: solid;
  border-width: 40px;
  border-color: #8342ea;
  border-left: #8342ea;
  border-top: #8342ea;
  margin-top: -5%;
}

.third-line {
  width: 48%;
  height: 40%;
  border-style: solid;
  border-width: 40px;
  border-color: #8342ea;
  border-right: #8342ea;
  border-top: #8342ea;
  margin-left: 50%;
  margin-top: -20%;
}

/* MEDIA QUERIES */

/* Notebook */
@media only screen and (min-width: 1024px) and (max-width: 1200px) {
  .third-line {
    margin-top: -20%;
  }
  .center-right {
    margin-top: -10%;
    margin-right: 20%;
  }
  .intro {
    font-size: 40px;
  }
  .culture-section div h1 {
    font-size: 40px;
  }
  .box {
    font-size: 1.5rem;
    height: 500px;
  }
}

/* Tablet acostada */
@media only screen and (min-width: 768) and (max-width: 1024px) {
  .intro {
    font-size: 20px;
  }
  .box {
    font-size: 1rem;
    height: 300px;
  }
  .center-right {
    margin-top: -5%;
    margin-right: 10%;
  }
  .right {
    padding-right: 5%;
  }
  .culture-section div h1 {
    font-size: 20px;
  }


}

/* Tablet */
@media only screen and (min-width: 480) and (max-width: 768px) {
}

/* Celu acostado */
@media only screen and (min-width: 320) and (max-width: 480px) {
}

/* Celu */
@media only screen and (max-width: 320px) {
}